.Jobs {
    display: flex;
    flex-direction: column;
    background-color: #FFF1E5;
    width: 70%;
    height: 30vh;
    min-height: 250px;
    box-sizing: border-box;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin: .5em 0 .5em 0;
    padding-left: 1em;
    justify-content: space-between;
    overflow: auto;

}

.company {
    font-size: 1.7rem;
    color: #FFB400;
}

.location {
    font-size: 1.2rem;
    color: #3D5AD1;
}

.exp {
    background-color: #FEF4FF;
    color: #B80D51;
    width: 30%;
    min-width: 120px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
}

.skills {
    padding: 1em 1em 0;
    font-size: 1.2rem;
    color: gray;
}

span {
    display: inline-block;
}